<section class="section section__info">
  <div class="container">
    <div class="info d-flex flex-column">
      <div
        class="info__item d-flex justify-content-between align-items-center gap-5 flex-column flex-xl-row"
      >
        <div
          class="info__content js-scroll animate__bounceInRight animate__slow first-item d-flex flex-column align-items-center align-items-xl-start"
        >
          <h2 class="info__title title text-center text-xl-start mb-4">
            Get thousands of active followers
          </h2>
          <p class="info__text subtitle-big text-center text-xl-start">
            Yet bed any for travelling assistance indulgence unpleasing. Not
            thoughts all exercise blessing. Indulgence way everything joy
            alteration boisterous the attachment.
          </p>
          <a href="#" class="info__btn text">Start Free</a>
        </div>
        <div
          class="info__content js-scroll animate__bounceInLeft animate__slow"
        >
          <img src="img/follower_img.webp" alt="follower_img" />
        </div>
      </div>
      <div
        class="info__item d-flex justify-content-between align-items-center gap-5 flex-column flex-xl-row-reverse"
      >
        <div
          class="info__content js-scroll animate__bounceInRight animate__slow first-item d-flex flex-column align-items-center align-items-xl-start"
        >
          <h2 class="info__title title text-center text-xl-start mb-4">
            Daily active users on social media
          </h2>
          <p class="info__text subtitle-big text-center text-xl-start">
            Yet bed any for travelling assistance indulgence unpleasing. Not
            thoughts all exercise blessing. Indulgence way everything joy
            alteration boisterous the attachment.
          </p>
          <a href="#" class="info__btn text">Start Free</a>
        </div>
        <div
          class="info__content js-scroll animate__bounceInLeft animate__slow"
        >
          <img src="img/media_img.webp" alt="media_img" />
        </div>
      </div>
    </div>
  </div>
</section>
