<section class="section section__join">
  <div class="container">
    <div class="join js-scroll animate__fadeIn">
      <h3 class="join__subtitle text mb-2 text-center text-sm-start">
        Join with our Community
      </h3>
      <h2 class="join__title mb-3 text-center text-sm-start mx-auto mx-sm-0">
        Set your social media growth on autopilot.
      </h2>
      <form
        class="join__form d-flex flex-column flex-sm-row justify-content-center align-items-center gap-2 gap-sm-0"
      >
        <input
          type="email"
          placeholder="Your Email Address"
          class="join__form-input text"
        />
        <button type="submit" class="join__form-btn text">Subscribe</button>
      </form>
    </div>
  </div>
</section>
