<section class="section section__people">
  <div class="container">
    <div
      class="people js-scroll animate__jackInTheBox d-flex flex-column align-items-center"
    >
      <h2 class="people__title text-center mb-3">
        Join millions of creative people with Shakir
      </h2>
      <a
        href="#"
        class="people__btn text d-inline-flex align-items-center gap-2"
        >Join The Waitlist
        <svg
          width="14"
          height="11"
          viewBox="0 0 14 11"
          fill="#121313"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 5H12M12 5L7.5 1M12 5L7.5 9.5"
            stroke="#121313"
            stroke-width="2"
          />
        </svg>
      </a>
    </div>
  </div>
</section>
