<section class="section section__question">
  <div class="container">
    <div
      class="question d-flex justify-content-center flex-column align-items-center align-items-xl-start flex-xl-row gap-5"
    >
      <div class="question__item first-item js-scroll animate__fadeInLeft">
        <h2 class="question__title text-center text-xl-start title mb-5">
          Any questions? We got you.
        </h2>
        <p class="question__text text-center text-xl-start subtitle-big mb-5">
          Yet bed any for assistance indulgence unpleasing. Not thoughts all
          exercise blessing. Indulgence way everything joy alteration boisterous
          the attachment.
        </p>
        <a
          href="#"
          class="question__btn subtitle-big d-flex justify-content-center justify-content-xl-start align-items-center gap-2"
          >More FAQs
          <svg
            width="14"
            height="11"
            viewBox="0 0 14 11"
            fill="#4F46BA"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.5 5H12M12 5L7.5 1M12 5L7.5 9.5"
              stroke="#4F46BA"
              stroke-width="2"
            />
          </svg>
        </a>
      </div>
      <div class="question__item js-scroll animate__fadeInRight w-100">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button subtitle"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                How this work?
                <div class="decor">
                  <div class="line1"></div>
                  <div class="line2"></div>
                </div>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body slide__text">
                Yet bed any for assistance indulgence unpleasing. Not thoughts
                all exercise blessing. Indulgence way everything joy alteration
                boisterous the attachment.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button subtitle collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Are there any additional fee?
                <div class="decor">
                  <div class="line1"></div>
                  <div class="line2"></div>
                </div>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body slide__text">
                Yet bed any for assistance indulgence unpleasing. Not thoughts
                all exercise blessing. Indulgence way everything joy alteration
                boisterous the attachment.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button subtitle collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                How can I get the app?
                <div class="decor">
                  <div class="line1"></div>
                  <div class="line2"></div>
                </div>
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body slide__text">
                Yet bed any for assistance indulgence unpleasing. Not thoughts
                all exercise blessing. Indulgence way everything joy alteration
                boisterous the attachment.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourth">
              <button
                class="accordion-button subtitle collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFourth"
                aria-expanded="false"
                aria-controls="collapseFourth"
              >
                How can I get the app?
                <div class="decor">
                  <div class="line1"></div>
                  <div class="line2"></div>
                </div>
              </button>
            </h2>
            <div
              id="collapseFourth"
              class="accordion-collapse collapse"
              aria-labelledby="headingFourth"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body slide__text">
                Yet bed any for assistance indulgence unpleasing. Not thoughts
                all exercise blessing. Indulgence way everything joy alteration
                boisterous the attachment.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
