<section class="section section__start">
  <div class="container">
    <div
      class="start d-flex justify-content-between align-items-center gap-5 flex-column flex-lg-row"
    >
      <div
        class="start__item first-item d-flex flex-column justify-content-center align-items-center align-items-lg-start js-scroll animate__fadeInLeft"
      >
        <h1 class="start__item-title mb-3 text-center text-lg-start">
          Increase your followers on social media
        </h1>
        <p
          class="start__item-text subtitle-big text-arrow mb-3 text-center text-lg-start"
        >
          Yet bed any for travelling assistance indulgence unpleasing. Not
          thoughts all exercise blessing. Indulgence way everything joy
          alteration boisterous the attachment.
        </p>
        <a
          href="#"
          class="start__item-btn text d-inline-flex align-items-center gap-5 mb-5"
          >Get Started<img src="img/arrow-right.svg" alt="arrow-right"
        /></a>
        <div
          class="start__item-people mb-3 d-flex justify-content-center align-items-center"
        >
          <div class="start__item-person">
            <img src="img/start_people1.webp" alt="start_people1" />
          </div>
          <div class="start__item-person">
            <img src="img/start_people2.webp" alt="start_people2" />
          </div>
          <div class="start__item-person">
            <img src="img/start_people3.webp" alt="start_people3" />
          </div>
          <div class="start__item-person">
            <img src="img/start_people4.webp" alt="start_people4" />
          </div>
          <div class="start__item-person">
            <img src="img/start_people5.webp" alt="start_people5" />
          </div>
          <div class="start__item-person">
            <img src="img/start_people6.webp" alt="start_people6" />
          </div>
          <div
            class="start__item-person d-flex justify-content-center align-items-center"
          >
            <span class="person__text">12k+</span>
          </div>
        </div>
        <p class="start__item-text subtitle-big text-center text-lg-start">
          12,000+ people already joined the arshakir’s increase followers plan.
          Get started today!
        </p>
      </div>
      <div class="start__item second-item js-scroll animate__fadeInRight">
        <img src="img/start_img.webp" alt="start_img" />
      </div>
    </div>
  </div>
</section>
