<section class="section section__testimonial">
   <div class="container">
      <div class="testimonial">
         <h3 class="testimonial__subtitle js-scroll animate__zoomInDown subtitle-big text-center mb-3">Testimonial
         </h3>
         <h2 class="testimonial__title js-scroll animate__zoomInDown title text-center mx-auto mb-5">What Our Happy
            User Says</h2>
         <div class="testimonial__swiper js-scroll animate__slideInUp swiper">
            <div class="swiper-container">
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <div class="slide__img d-flex justify-content-center align-items-center mb-4"><img src="img/lap.svg" alt="“"></div>
                     <div class="slide__rate mb-3 d-flex align-items-center">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                     </div>
                     <p class="slide__text subtext mb-4">On the other hand, we denounce with righteous
                        indignation and dislike men who are so beguiled and.</p>
                     <div class="slide__contact d-flex align-items-center gap-2">
                        <img src="img/swiper1.webp"  alt="swiper1">
                        <div class="slide__content">
                           <h5 class="slide__title text">Serhiy Hipskyy</h5>
                           <p class="slide__subtitle text-lg">CEO Universal</p>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="slide__img d-flex justify-content-center align-items-center mb-4"><img src="img/lap.svg" alt="“"></div>
                     <div class="slide__rate mb-3 d-flex align-items-center">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                     </div>
                     <p class="slide__text subtext mb-4">Cum soluta nobis est eligendi optio cumque nihil
                        impedit quo minus id quod maxime placeat facere possimus.</p>
                     <div class="slide__contact d-flex align-items-center gap-2">
                        <img src="img/swiper2.webp"  alt="swiper2">
                        <div class="slide__content">
                           <h5 class="slide__title text">Justus Menke</h5>
                           <p class="slide__subtitle text-lg">CEO Eronaman</p>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="slide__img d-flex justify-content-center align-items-center mb-4"><img src="img/lap.svg" alt="“"></div>
                     <div class="slide__rate mb-3 d-flex align-items-center">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                        <img src="img/star.svg" alt="star">
                     </div>
                     <p class="slide__text subtext mb-4">Accusamus et iusto odi ducimus qui blanditiis
                        praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                     <div class="slide__contact d-flex align-items-center gap-2">
                        <img src="img/swiper3.webp"  alt="swiper3">
                        <div class="slide__content">
                           <h4 class="slide__title text">Britain Eriksen</h4>
                           <p class="slide__subtitle text-lg">CEO Universal</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>