<footer>
   <div class="footer">
      <div class="container">
         <div class="footer__body d-flex justify-content-between gap-5 flex-column flex-lg-row">
            <div class="footer__info js-scroll animate__slideInLeft mx-auto mx-lg-0">
               <h2 class="footer__title subtitle mb-3 text-center text-lg-start">ARShakir</h2>
               <p class="footer__text subtext text-center text-lg-start">Yet bed any for travelling assistance
                  indulgence unpleasing. Not thoughts all exercise blessing. Indulgence way everything joy
                  alteration boisterous the attachment.</p>
            </div>
            <div
               class="footer__menu js-scroll animate__slideInRight d-flex justify-content-between gap-5 flex-column flex-sm-row text-center text-sm-start">
               <div class="footer__menu-item">
                  <h4 class="footer__menu-title mb-4">Company</h4>
                  <ul class="footer__list">
                     <li><a href="#" class="footer__list-item subtext mb-3">About Us</a></li>
                     <li><a href="#" class="footer__list-item subtext mb-3">Careers</a></li>
                     <li><a href="#" class="footer__list-item subtext mb-3">Blog</a></li>
                     <li><a href="#" class="footer__list-item subtext">Pricing</a></li>
                  </ul>
               </div>
               <div class="footer__menu-item">
                  <h4 class="footer__menu-title mb-4">Product</h4>
                  <ul class="footer__list">
                     <li><a href="#" class="footer__list-item subtext mb-3">Facebook Followers</a></li>
                     <li><a href="#" class="footer__list-item subtext mb-3">Instagram Followers</a></li>
                     <li><a href="#" class="footer__list-item subtext mb-3">Twitter Followers</a></li>
                     <li><a href="#" class="footer__list-item subtext">TikTok Followers</a></li>
                  </ul>
               </div>
               <div class="footer__menu-item">
                  <h4 class="footer__menu-title mb-4">Resources</h4>
                  <ul class="footer__list">
                     <li><a href="#" class="footer__list-item subtext mb-3">Proposal Template</a></li>
                     <li><a href="#" class="footer__list-item subtext mb-3">Invoices</a></li>
                     <li><a href="#" class="footer__list-item subtext mb-3">Tuturoial</a></li>
                     <li><a href="#" class="footer__list-item subtext">How to increase activity</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="copy js-scroll animate__fadeIn">
      <div
         class="container d-flex justify-content-between align-items-center flex-column flex-md-row text-center text-md-start gap-1">
         <p class="copy__text text-lg">2022 ARShakir Inc. All rights reserved. -- Privacy Policy - Terms of
            Services</p>
         <p class="copy__text text-lg">Supported by <span>Microsoft Startup</span></p>
      </div>
   </div>
</footer>