<nav class="navbar js-scroll animate__fadeInDown navbar-expand-lg py-4">
   <div class="container">
      <a class="navbar-brand subtitle" href="#">arshakir</a>
      <div class=" d-flex justify-content-center">
         <ul class="navbar-nav nav gap-3">
            <li class="nav-item dropdown mx-auto">
               <a class="nav-link dropdown-toggle text-center text nav__text" href="#" id="navbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Product
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item nav__text text text-xl-start text-center" href="#">Product</a>
                  </li>
                  <li><a class="dropdown-item nav__text text text-xl-start text-center" href="#">Product</a>
                  </li>
                  <li><a class="dropdown-item nav__text text text-xl-start text-center" href="#">Product</a>
                  </li>
               </ul>
            </li>
            <li class="nav-item dropdown mx-auto">
               <a class="nav-link dropdown-toggle text-center text nav__text" href="#" id="navbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Packages
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item nav__text text text-xl-start text-center" href="#">Packages</a>
                  </li>
                  <li><a class="dropdown-item nav__text text text-xl-start text-center" href="#">Packages</a>
                  </li>
                  <li><a class="dropdown-item nav__text text text-xl-start text-center" href="#">Packages</a>
                  </li>
               </ul>
            </li>
            <li class="nav-item">
               <a class="nav-link nav__text text text-xl-start text-center" href="#">Blog</a>
            </li>
            <li class="nav-item">
               <a class="nav-link nav__text text text-xl-start text-center" href="#">Tesinimonials</a>
            </li>
         </ul>
      </div>
      <div class="contact align-items-center">
         <a href="#" class="nav__btn nav__text text">Sign In</a>
         <a href="#" class="nav__btn nav__text text nav__btn-color">Start Free</a>
      </div>
      <button class="navbar-toggler" type="button">
         <div class="navbar-toggler-icon"><span></span></div>
      </button>
   </div>
</nav>